<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="container">
    <form action="/doctors" method="GET">
        <select name="specalise" class="form-control">
            <option value="all">All</option>
            <option value="Anesthesiologists">Anesthesiologists</option>
            <option value="Allergists">Allergists</option>
            <option value="Cardiologists">Cardiologists</option>
            <option value="Colon and Rectal Surgeons">Colon and Rectal Surgeons</option>
            <option value="Critical Care Medicine Specialists">Critical Care Medicine Specialists</option>
            <option value="Dermatologists">Dermatologists</option>
            <option value="Endocrinologists">Endocrinologists</option>
            <option value="Emergency Medicine Specialists">Emergency Medicine Specialists</option>
            <option value="Family Physicians">Family Physicians</option>
            <option value="Gastroenterologists">Gastroenterologists</option>
            <option value="Geriatric Medicine Specialists">Geriatric Medicine Specialists</option>
            <option value="Hematologists">Hematologists</option>
            <option value="Hospice and Palliative Medicine Specialists">Hospice and Palliative Medicine Specialists</option>
            <option value="Infectious Disease Specialists">Infectious Disease Specialists</option>
            <option value="Internists">Internists</option>
            <option value="Medical Geneticists">Medical Geneticists</option>
            <option value="Nephrologists">Nephrologists</option>
            <option value="Neurologists">Neurologists</option>
            <option value="Obstetricians and Gynecologists">Obstetricians and Gynecologists</option>
            <option value="Oncologists">Oncologists</option>
            <option value="Ophthalmologists">Ophthalmologists</option>
            <option value="Osteopaths">Osteopaths</option>
            <option value="Otolaryngologists">Otolaryngologists</option>
            <option value="Pathologists">Pathologists</option>
            <option value="Pediatricians">Pediatricians</option>
            <option value="Physiatrists">Physiatrists</option>
            <option value="Plastic Surgeons">Plastic Surgeons</option>
            <option value="Podiatrists">Podiatrists</option>
            <option value="Preventive Medicine Specialists">Preventive Medicine Specialists</option>
            <option value="Psychiatrists">Psychiatrists</option>
            <option value="Pulmonologists">Pulmonologists</option>
            <option value="Radiologists">Radiologists</option>
            <option value="Rheumatologists">Rheumatologists</option>
            <option value="Sleep Medicine Specialists">Sleep Medicine Specialists</option>
            <option value="Sports Medicine Specialists">Sports Medicine Specialists</option>
            <option value="General Surgeons">General Surgeons</option>
            <option value="Urologists">Urologists</option>
        </select>
        <input type="submit" class="btn btn-primary" value="filter">

    </form>



    <div class="row">
        <% for (let doctor of doctors) { %>
            <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <img src="<%= doctor.image %>" class="card-img-top" >
                    <div class="card-body">
                      <h5 class="card-title">
                          <a href="/doctor/<%= doctor._id %>"><%= doctor.name %></a>
                      </h5>
                      <p>Specalist: <b><%=doctor.specalist  %></b></p>
                      <form action="/doctor" method="POST">
                          <input type="submit" value="Visit Profile" class="btn btn-primary">

                      </form>
                    </div>
                  </div>
            </div>

        <% } %>
        </div>
    </div>
</div>

<%- include('parts/footer') %>